# Entorno virtual
venv/

# Archivos de Python
__pycache__/
*.pyc

# Base de datos local
db.sqlite3


# Variables_ de entorno
.env

# Archivos de sistema
.DS_Store
Thumbs.db


.vscode
media
__pycache__
**/__pycache__