{% extends "base.html" %}

{% block contenido %}

<h2 class="decorative">Formulario de curso</h2>

<div class="section-box">

    <!-- Fondo interno para los campos -->
    <div class="card mint">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="menu-principal">
                <!-- Botón guardar -->
                <button type="submit" class="btn neutral">
                    ✔ Guardar
                </button>

                <!-- Botón volver -->
                <a href="{% url 'cursos_realizados' %}" class="btn pink">
                    ↩ Volver
                </a>
            </div>
        </form>
    </div>

</div>

{% endblock %}
