{% extends "base.html" %}

{% block contenido %}

<h2 class="decorative">⚠️ Confirmar eliminación</h2>

<div class="section-box">

    <p>
        ¿Estás seguro de eliminar el perfil:<br>
        <strong>{{ perfil.nombre_completo }}</strong>?
    </p>

    <form method="post">
        {% csrf_token %}

        <div class="menu-principal">
            <!-- Botón eliminar (rosa) -->
            <button type="submit" class="btn mint">
                🗑 Sí, eliminar
            </button>

            <!-- Botón cancelar (neutral) -->
            <a href="{% url 'lista_perfiles' %}" class="btn pink">
                Cancelar
            </a>
        </div>
    </form>

</div>

{% endblock %}
