{% extends "base.html" %}

{% block contenido %}

<h2 class="decorative deco-productos-laborales">
    Formulario de producto laboral – {{ perfil.nombre_completo }}
</h2>

<div class="section-box">

    <form method="post">
        {% csrf_token %}

        <!-- CAJA CON FONDO PARA LOS CAMPOS -->
        <div class="card pink">
            {{ form.as_p }}
        </div>

        <div class="menu-principal">
            <!-- Botón guardar -->
            <button type="submit" class="btn pink">
                ✔ Guardar
            </button>

            <!-- Botón volver -->
            <a href="{% url 'productos_laborales' %}" class="btn mint">
                ↩ Volver
            </a>
        </div>
    </form>

</div>

{% endblock %}
