{% extends "base.html" %}

{% block contenido %}

<h2 class="decorative">Productos académicos – {{ perfil.nombre_completo }}</h2>

<div class="section-box">

    <!-- Botón agregar -->
    <div class="menu-principal">
        <a href="{% url 'crear_producto_academico' %}" class="btn mint">
            ✚ Agregar producto
        </a>
    </div>

    <br>

    {% if productos %}
        <div class="bento-grid">
            {% for prod in productos %}
                <div class="card vanilla">
                    {% if prod.imagen and prod.imagen.url %}
                        <img src="{{ prod.imagen.url }}" class="producto-imagen-admin">

                    {% endif %}

                    <h3>{{ prod.nombrerecurso }}</h3>
                    <p><strong>Clasificador:</strong> {{ prod.clasificador }}</p>
                    <div class="menu-principal">
                        <a href="{% url 'editar_producto_academico' prod.id %}" class="btn mint">✎ Editar</a>
                        <a href="{% url 'eliminar_producto_academico' prod.id %}" class="btn pink">🗑 Eliminar</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No hay productos académicos registrados</p>
    {% endif %}

    <br>
    <a href="{% url 'inicio_admin' %}" class="btn mint">
        ↩ Volver al inicio
    </a>

</div>

{% endblock %}
