{% extends "base.html" %}

{% block contenido %}

<h2 class="decorative">
    Venta de Garage – {{ perfil.nombre_completo }}
</h2>

<div class="section-box">

    <div class="menu-principal">
        <a href="{% url 'crear_venta_garage' %}" class="btn mint">
            ✚ Agregar producto
        </a>
    </div>

    <br>

    {% if ventas %}
        <div class="bento-grid">
            {% for venta in ventas %}
            <div class="venta-block">   

                <ul class="venta-info">
                    <li><strong>Producto:</strong> {{ venta.nombreproducto }}</li>
                    <li><strong>Estado:</strong> {{ venta.estadoproducto }}</li>
                    <li><strong>Precio:</strong> ${{ venta.valordelbien }}</li>
                </ul>

                <div class="venta-desc-box">
                    <p class="venta-text">{{ venta.descripcion }}</p>
                </div>

                <div class="menu-principal">
                    <a href="{% url 'editar_venta_garage' venta.id %}" class="btn pink">
                        ✏️ Editar
                    </a>

                    <a href="{% url 'eliminar_venta_garage' venta.id %}"
                    class="btn pinkl"
                    onclick="return confirm('¿Estás segura de eliminar este producto?');">
                        🗑 Eliminar
                    </a>
                </div>


            </div>
            {% empty %}
            <p class="no-data">No hay productos en venta</p>
            {% endfor %}

        </div>
    {% else %}
        <p>No hay productos registrados</p>
    {% endif %}

    <br>
    <a href="{% url 'inicio_admin' %}" class="btn mint">
        ↩ Volver al inicio
    </a>

</div>

{% endblock %}
