{% extends "base.html" %}

{% block contenido %}

<h2 class="decorative">Formulario de reconocimiento – {{ perfil.nombre_completo }}</h2>

<div class="section-box">

    <!-- Fondo interno del formulario -->
    <div class="card mint">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="menu-principal">
                <!-- Guardar en rosa -->
                <button type="submit" class="btn pink">
                    ✔ Guardar
                </button>

                <!-- Volver -->
                <a href="{% url 'reconocimientos_lista' %}" class="btn pink">
                    ↩ Volver
                </a>
            </div>
        </form>

    </div>

</div>

{% endblock %}
